[Unit]
Description=neovim

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/nvim --headless --listen '%h/.cache/nvim/server.pipe'
ExecStop=/bin/kill -INT ${MAINPID}
ExecStopPost=/usr/bin/rm '%h/.cache/nvim/server.pipe'

[Install]
WantedBy=multi-user.target
