keybinds clear-defaults=true {
    normal {
        bind "Ctrl q" { SwitchToMode "Tmux"; }
    }
    tmux {
        bind "Ctrl g" { SwitchToMode "Normal"; }
        bind "[" { EditScrollback; SwitchToMode "Normal"; }
        bind "s" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "v" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "t" { NewTab; SwitchToMode "Normal"; }
        bind "p" { GoToPreviousTab; SwitchToMode "Normal"; }
        bind "n" { GoToNextTab; SwitchToMode "Normal"; }
        bind "h" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "c" { CloseFocus; SwitchToMode "Normal"; }
    }
}

plugins {
    tab-bar location="zellij:tab-bar"
    status-bar location="zellij:status-bar"
    strider location="zellij:strider"
    compact-bar location="zellij:compact-bar"
    session-manager location="zellij:session-manager"
    welcome-screen location="zellij:session-manager" {
        welcome_screen false
    }
    filepicker location="zellij:strider" {
        cwd "/"
    }
    configuration location="zellij:configuration"
    plugin-manager location="zellij:plugin-manager"
    about location="zellij:about"
}

load_plugins {
}

default_shell "zsh"

theme "default"
ui {
    pane_frames {
        hide_session_name true
        rounded_corners true
    }
}
pane_frames false
show_release_notes false
show_startup_tips false

scroll_buffer_size 10000
scrollback_editor "nvim"

mouse_mode false
advanced_mouse_actions false
