[Unit]
Description=zen_workaround

[Service]
Type=oneshot
ExecStart=/usr/local/bin/zen_workaround.py
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
